# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
migrations/
*/migrations/


# Editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore database files
*.sqlite3

# #Ignore others files
# env/
# testing_calls/
# system_logs/